h1,
h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #091e42;
}

.back-ground {
  background-image: url(images/Header\ bg.svg);
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0% 10% 10% 0%;
  justify-content: left;
  background-size: 105%;
}

.pre {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #344563;
}

.unique h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #6070ff;
}

.Home {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: #344563;
  text-decoration: none;
}

.Home li {
  display: inline;
  text-decoration: none;
}

.social-media {
  display: flex;
  margin-top: 4%;
}

.social-media a {
  margin-left: 4%;
}

.seePro a {
  width: 102px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

.Home a:hover {
  color: brown;
}

@media (max-width: 767px) {
  .Home {
    display: none;
  }
}

@media (min-width: 768px) {
  .list {
    display: none;
  }
}

.list {
  align-self: flex-end;
  font-family: var(font-family);
  color: #344563;
  width: 40px;
  height: 30px;
}

.list svg {
  align-self: flex-end;
  width: 40px;
}

.head-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-size: 20px;
}

.Connect {
  font-family: "Inter", sans-serif;
  font-size: 80%;
  font-weight: bold;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  width: 117px;
  height: 24px;
  color: #7f8cff;
}

.Connect:hover {
  color: rgb(255, 0, 0);
}

.He {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 7vh;
}

.Head {
  color: rgb(11, 1, 1);
  font: bolder;
  font-size: 30px;
}

.main-container {
  height: 93vh;
  margin-left: 20%;
  margin-top: 10%;
}

#head2 {
  height: hug (32px)px;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.left {
  display: flex;
  flex-direction: row;
  width: 150%;
  height: 15%;
}

.left li {
  margin-right: 10%;
}

.can {
  width: 55px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: bolder;
  line-height: 16px;
  text-align: left;
  color: #344563;
  list-style-type: none;
}

.back {
  width: 88px;
  height: 16px;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
}

.para {
  width: 295px;
  height: 76px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 10%;
}

.program {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: hug (57px)px;
  height: hug (24px)px;
  list-style-type: none;
}

.program li {
  width: hug (214px)px;
  height: hug (24px)px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  margin-right: 3%;
}

.seePro {
  width: hug (126px)px;
  height: hug (48px)px;
  top: 12px;
  padding: 12px 0 0 0;
  gap: 10px;
  display: flex;
  border: solid #6070ff;
  border-width: thin;
  margin-top: 10%;
  margin-right: 60%;
  border-radius: 8px;
}

.image {
  margin-top: 12%;
}

.pro {
  width: hug (57px)px;
  height: hug (24px)px;
  padding: 16px 12px 4px 12px;
  border-radius: 8px 0 0 0;
  background: #ebebff;
}

.try img {
  margin-top: 42%;
}

.resume {
  width: 250px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  margin-top: 5%;
}

.res {
  width: hug (162px)px;
  height: hug (48px)px;
  padding: 8px 0 0 0;
  gap: 10px;
  border-radius: 8px 0 0 0;

  /* border: 8px 0 0 0; */
  opacity: 0;
  border: 1px solid #6070ff;
}

.HJC {
  width: 500px;
  height: 66.72px;
  padding: 9px 12px 9.72px 12px;
  gap: 20px;
  border-radius: 9px 0 0 0;
  background: #f7f7f9;
  margin-bottom: 6%;
  display: flex;
  justify-content: flex-start;
  margin-right: 10%;
}

.HJC li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
  margin-bottom: 6%;

  /* text-align: center; */
  gap: 1%;
  color: #253858;
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
}

.drag li {
  width: 215px;
  height: 24px;
  top: 21px;
  left: 76px;
  gap: 0;
  opacity: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #253858;
  list-style-type: none;
}

.frame-skill {
  margin-left: 1%;
  gap: 20%;
  justify-content: space-between;
}

.languages {
  display: flex;
  padding-left: 0%;
  flex-direction: row;
  gap: 23%;
  margin-top: 3%;
  justify-content: space-between;
}
